<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no maximum-scale=1.0 initial-scale=1.0">
        <title>셜록홈즈 일산점</title>
		<link rel="stylesheet" href="/sherlock/stylesheet.css" />
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/prefixfree.min.js"></script>
		<script src="/jquery.cookie.js"></script>
		<script src="../socket.io/socket.io.js"></script>
		<script src="/sherlock/GameFrameCounter.js"></script>
		<script src="/sherlock/GameObject.js"></script>
		<script src="/sherlock/GameSoundManager.js"></script>
		<script>
			var socket = undefined;
			
			$(document).ready(function(){
				socket = io.connect();
				
				var datefunc = function(){
					var date = new Date();
					var dateString = '';
					dateString += (date.getYear()+1900) +'년 ';
					dateString += (date.getMonth()+1) + '월 ';
					dateString += date.getDate() + '일 ';
					if(date.getHours() < 12) dateString += '오전 ';
					else dateString += '오후 ';
					if(date.getHours()%12 == 0) dateString += '12시 ';
					else dateString += (date.getHours()%12) + '시 ';
					if(date.getMinutes()<10) dateString += '0';
					dateString += date.getMinutes() + '분 ';
					if(date.getSeconds()<10) dateString += '0';
					dateString += date.getSeconds() + '초';
					return dateString;
				};
				var date = new Date();
				var dateTime = date.getTime();
				
				$('.p_time').text(datefunc());
				
				$('#btn_search').click(function(){
					var middle = $('#input_middle2').val();
					var last = $('#input_last2').val();
					
					if(checkNumber(middle)){
						
					}else{
						alert('전화번호 가운데자리 4자리를 입력하세요.');
						return;
					}
					if(checkNumber(last)){
						
					}else{
						alert('전화번호 뒷자리 4자리를 입력하세요.');
						return;
					}
					
					var urlstring = middle+last;
					
					<% if(test==true){ %>
						window.open('http://127.0.0.1:8002/sherlocksearch/'+urlstring, 'child', 'width=720, height=480', true);
					<% }else{ %>
						window.open('http://kaosu.kr/sherlocksearch/'+urlstring, 'child', 'width=960, height=480, scrollbars=true', true);
						
					<% } %>
					
					// socket.emit('sherlock_coupon_search', {
						// middle: middle,
						// last: last
					// });
				});
				
				$('#btn_ok').click(function(){
					var middle = $('#input_middle').val();
					var last = $('#input_last').val();
					var a = $('#select_theme').val();
					
					if(checkNumber(middle)){
						
					}else{
						alert('전화번호 가운데자리 4자리를 입력하세요.');
						return;
					}
					if(checkNumber(last)){
						
					}else{
						alert('전화번호 뒷자리 4자리를 입력하세요.');
						return;
					}
					
					var btn_ok = document.getElementById('btn_ok');
					
					var theme = Number($('#select_theme').val());
					var dc = Number($('#select_dc').val());
					var success = Number($('#select_success').val());
					
					var textString = '010-';
					textString += middle;
					textString += '-';
					textString += last;
					textString += '님, ';
					
					switch(theme){
						case 1: textString += '웨딩크루즈, '; break;
						case 2: textString += '스토커, '; break;
						case 3: textString += '고흐의방, '; break;
						case 4: textString += '위험한레시피, '; break;
						case 5: textString += '저주받은집, '; break;
						case 6: textString += '화이트의죽음, '; break;
					}
					switch(dc){
						case 0: textString += '할인받지않음, '; break;
						case 1: textString += '할인받음, '; break;
					}
					switch(success){
						case 0: textString += '성공. '; break;
						case 1: textString += '실패. '; break;
					}
					textString += '맞습니까?';
					
					if(confirm(textString)){
						var btn_ok = document.getElementById('btn_ok');
						btn_ok.disabled = 'false';
						socket.emit('sherlock_coupon_insert', {
							middle: middle,
							last: last,
							date: dateTime,
							theme: theme,
							dc: dc,
							success: success
						});
					}else{
						alert('취소');
					}
				});
				
				socket.on('sherlock_error', function(){
					alert('에러가 발생하였습니다.');
				});
				
				socket.on('sherlock_success', function(){
					alert('성공하였습니다.');
					location.reload();
				});
				
				$('.label_list_date').each(function(index){
					var dateTime = Number($(this).text());
					var date = new Date(dateTime);
					
					var dateString = '';
					dateString += (date.getYear()+1900) +'년 ';
					dateString += (date.getMonth()+1) + '월 ';
					dateString += date.getDate() + '일 ';
					if(date.getHours() < 12) dateString += '오전 ';
					else dateString += '오후 ';
					if(date.getHours()%12 == 0) dateString += '12시 ';
					else dateString += (date.getHours()%12) + '시 ';
					if(date.getMinutes()<10) dateString += '0';
					dateString += date.getMinutes() + '분, ';
					
					$(this).text(dateString);
				});
				
				$('.label_list_theme').each(function(index){
					var theme = Number($(this).text());
						
					switch(theme){
						case 1: $(this).text('웨딩크루즈, '); break;
						case 2: $(this).text('스토커, '); break;
						case 3: $(this).text('고흐의 방, '); break;
						case 4: $(this).text('위험한 레시피, '); break;
						case 5: $(this).text('저주받은 집, '); break;
						case 6: $(this).text('화이트의 죽음, '); break;
					}
				});
				
				$('.label_list_dc').each(function(index){
					var dc = Number($(this).text());
						
					switch(dc){
						case 0: $(this).text('할인받지않음, '); break;
						case 1: $(this).text('할인받음, '); break;
					}
				});
				
				$('.label_list_success').each(function(index){
					var success = Number($(this).text());
						
					switch(success){
						case 0: $(this).text('성공.'); break;
						case 1: $(this).text('실패.'); break;
					}
				});
				
				function checkNumber(str){
					var filter = /^[0-9]{4,4}$/;
					if(filter.test(str)){
						return true;
					}else{
						return false;
					}
				}
			});
				
			$(document).unload(function(){
				if (socket != undefined) socket.disconnect();
			});
		</script>
    </head>
    <body>
		<div class="heading">
      		<h1 class="title">셜록홈즈 일산점</h1>
    	</div>
    	<p class="game-intro">쿠폰적립 시스템!</p>
    	<div class="div_coupon">
    		<div class="div_coupon_sub">
	    		<label>010-</label>
	    		<input type="text" id="input_middle" name="input_middle" required/>
	    		<label>-</label>
	    		<input type="text" id="input_last" name="input_last" required/>
	    		<hr />
	    		<p class="p_time">2017년 1월 11일 19시 20분</p>
	    		<select name="select_theme" id="select_theme">
					<option value="1">웨딩크루즈</option>
					<option value="2">스토커</option>
					<option value="3">고흐의방</option>
					<option value="4">위험한레시피</option>
					<option value="5">저주받은집</option>
					<option value="6">화이트의죽음</option>
				</select>
				<select name="select_dc" id="select_dc">
					<option value="0">할인받지않음</option>
					<option value="1">할인받음</option>
				</select>
				<select name="select_success" id="select_success">
					<option value="0">성공</option>
					<option value="1">실패</option>
				</select>
	    		<hr />
	    		<button id="btn_ok" class="btn_ok">적립하기</button>
	    	</div>
	    	<br />
	    	<br />
	    	<div class="div_search">
	    		<label>010-</label>
	    		<input type="text" id="input_middle2" name="input_middle2" />
	    		<input type="text" id="input_last2" name="input_last2" />
	    		<button id="btn_search" class="btn_search">검색하기</button>
	    	</div>
	    	<br />
    		<% if(data.length>0){ %>
    		<% data.forEach(function(item, index){ %>
    			<div class="div_sherloc_list">
	    			<h2 class="h2_list_phone"><%= item.middle %>-<%= item.last %>님</h2>
	    			<label class="label_list_date"><%= item.date %></label>
	    			<label class="label_list_theme"><%= item.theme %></label>
	    			<label class="label_list_dc"><%= item.num1 %></label>
	    			<label class="label_list_success"><%= item.num2 %></label>
	    			<br/>
	    			<label class="label_list_score"><%= item.num5 %>점</label>
				</div>
    			<% }); %>
    		<% } %>
    	</div>
        <br />
    </body>
</html>
