<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no maximum-scale=1.0 initial-scale=1.0">
        <title>쿠폰적립</title>
		<link rel="stylesheet" href="/sherlock/stylesheet.css" />
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/prefixfree.min.js"></script>
		<script src="/jquery.cookie.js"></script>
		<script src="../socket.io/socket.io.js"></script>
		<script src="/sherlock/GameFrameCounter.js"></script>
		<script src="/sherlock/GameObject.js"></script>
		<script src="/sherlock/GameSoundManager.js"></script>
        <script src="/sherlock/sherlock.js"></script>
		<script>
			var socket = undefined;
			
			$(document).ready(function(){
				socket = io.connect();
				
				var datefunc = function(){
					var date = new Date();
					var dateString = '';
					dateString += (date.getYear()+1900) +'년 ';
					dateString += (date.getMonth()+1) + '월 ';
					dateString += date.getDate() + '일 ';
					if(date.getHours() < 12) dateString += '오전 ';
					else dateString += '오후 ';
					if(date.getHours()%12 == 0) dateString += '12시 ';
					else dateString += (date.getHours()%12) + '시 ';
					if(date.getMinutes()<10) dateString += '0';
					dateString += date.getMinutes() + '분 ';
					if(date.getSeconds()<10) dateString += '0';
					dateString += date.getSeconds() + '초';
					return dateString;
				};
				var date = new Date();
				var dateTime = date.getTime();
				
				$('.p_time').text(datefunc());
				
				$('#btn_search').click(function(){
					var middle = $('#input_middle2').val();
					var last = $('#input_last2').val();
					
					if(checkNumber(middle)){
						
					}else{
						alert('전화번호 가운데자리 4자리를 입력하세요.');
						return;
					}
					if(checkNumber(last)){
						
					}else{
						alert('전화번호 뒷자리 4자리를 입력하세요.');
						return;
					}
					
					var urlstring = middle+last;
					
					<% if(test==true){ %>
						window.open('http://127.0.0.1:8002/sherlocksearch/'+urlstring, 'child', 'width=720, height=480', true);
					<% }else{ %>
						window.open('http://kaosu.kr/sherlocksearch/'+urlstring, 'child', 'width=960, height=480, scrollbars=true', true);
						
					<% } %>
					
					// socket.emit('sherlock_coupon_search', {
						// middle: middle,
						// last: last
					// });
				});
				
				$('.btn_bonsa').click(function(){
					window.open('http://sherlock-holmes.co.kr/sub_02/sub02_1.html?JIJEM=S27');
				});
				
				$('.btn_gwanri').click(function(){
					window.open('http://sherlock-holmes.co.kr/sadmin');
				});
				
				$('.btn_memo').click(function(){
					socket.emit('sherlock_memo', $('.textarea_memo').val());
				});
				
				$('#btn_ok').click(function(){
					var middle = $('#input_middle').val();
					var last = $('#input_last').val();
					var a = $('#select_theme').val();
					
					if(checkNumber(middle)){
						
					}else{
						alert('전화번호 가운데자리 4자리를 입력하세요.');
						return;
					}
					if(checkNumber(last)){
						
					}else{
						alert('전화번호 뒷자리 4자리를 입력하세요.');
						return;
					}
					
					var btn_ok = document.getElementById('btn_ok');
					
					var theme = Number($('#select_theme').val());
					var dc = Number($('#select_dc').val());
					var success = Number($('#select_success').val());
					
					var textString = '010-';
					textString += middle;
					textString += '-';
					textString += last;
					textString += '님, ';
					
					switch(theme){
						case 1: textString += '웨딩크루즈, '; break;
						case 2: textString += '스토커, '; break;
						case 3: textString += '고흐의방, '; break;
						case 4: textString += '위험한레시피, '; break;
						case 5: textString += '저주받은집, '; break;
						case 6: textString += '화이트의죽음, '; break;
					}
					switch(dc){
						case 0: textString += '할인받지않음, '; break;
						case 1: textString += '할인받음, '; break;
					}
					switch(success){
						case 0: textString += '성공. '; break;
						case 1: textString += '실패. '; break;
					}
					textString += '맞습니까?';
					
					if(confirm(textString)){
						var btn_ok = document.getElementById('btn_ok');
						btn_ok.disabled = 'false';
						socket.emit('sherlock_coupon_insert', {
							middle: middle,
							last: last,
							date: dateTime,
							theme: theme,
							dc: dc,
							success: success
						});
					}else{
						alert('취소');
					}
				});
				
				socket.on('sherlock_error', function(){
					alert('에러가 발생하였습니다.');
				});
				
				socket.on('sherlock_success', function(){
					alert('등록에 성공하였습니다.');
					location.reload();
				});
				
				socket.on('sherlock_memo', function(data){
					$('.textarea_memo').val(data.memo);
				});
				
				socket.on('sherlock_memo_edit', function(data){
					alert('수정되었습니다.');
					$('.textarea_memo').val(data.memo);
				});
				
				$('.label_list_date').each(function(index){
					var dateTime = Number($(this).text());
					var date = new Date(dateTime);
					
					var dateString = '';
					dateString += (date.getYear()+1900) +'년 ';
					dateString += (date.getMonth()+1) + '월 ';
					dateString += date.getDate() + '일 ';
					if(date.getHours() < 12) dateString += '오전 ';
					else dateString += '오후 ';
					if(date.getHours()%12 == 0) dateString += '12시 ';
					else dateString += (date.getHours()%12) + '시 ';
					if(date.getMinutes()<10) dateString += '0';
					dateString += date.getMinutes() + '분, ';
					
					$(this).text(dateString);
				});
				
				$('.label_list_dc').each(function(index){
					var dc = Number($(this).text());
						
					switch(dc){
						case 0: $('.select_list_dc').eq(index).val(0); break;
						case 1: $('.select_list_dc').eq(index).val(1); break;
					}
				});
				
				$('.label_list_success').each(function(index){
					var success = Number($(this).text());

					switch(success){
						case 0: $('.select_list_success').eq(index).val(0); break;
						case 1: $('.select_list_success').eq(index).val(1); break;
					}
				});
				
				$('.label_list_theme').each(function(index){
					var theme = Number($(this).text());
					if(theme < 1){
						$('.label_list_dc').eq(index).text('');
						$('.label_list_success').eq(index).text('');
					}
					switch(theme){
						case 0: $(this).text('상품증정'); break;
						case 1: $('.select_list_theme').eq(index).val(1); break;
						case 2: $('.select_list_theme').eq(index).val(2); break;
						case 3: $('.select_list_theme').eq(index).val(3); break;
						case 4: $('.select_list_theme').eq(index).val(4); break;
						case 5: $('.select_list_theme').eq(index).val(5); break;
						case 6: $('.select_list_theme').eq(index).val(6); break;
					}
				});
				
				function checkNumber(str){
					var filter = /^[0-9]{4,4}$/;
					if(filter.test(str)){
						return true;
					}else{
						return false;
					}
				}
				
				
				
			});
				
			$(document).unload(function(){
				if (socket != undefined) socket.disconnect();
			});
		</script>
    </head>
    <body>
		<div class="heading">
      		<h1 class="title">셜록홈즈 일산점</h1>
      		<button class="btn_gwanri">관리자페이지</button>
      		<button class="btn_bonsa">룸홀딩</button>
    	</div>
    	<canvas id="canvas" width="920" height="230" style="position: relative; top: 25px; left: 25px; margin-bottom: 20px">
        	Sorry, Your browser doesn't support HTML5 Canvas.
        </canvas>
        <hr />
    	<div class="div_contents">
	    	<div class="div_coupon">
    			<p class="game-intro">쿠폰적립 시스템!</p>
	    		<div class="div_coupon_sub">
		    		<label>010-</label>
		    		<input type="text" id="input_middle" name="input_middle" required/>
		    		<label>-</label>
		    		<input type="text" id="input_last" name="input_last" required/>
		    		<hr />
		    		<p class="p_time">2017년 1월 11일 19시 20분</p>
		    		<select name="select_theme" id="select_theme">
						<option value="1">웨딩크루즈</option>
						<option value="2">스토커</option>
						<option value="3">고흐의방</option>
						<option value="4">위험한레시피</option>
						<option value="5">저주받은집</option>
						<option value="6">화이트의죽음</option>
					</select>
					<select name="select_dc" id="select_dc">
						<option value="0">할인받지않음</option>
						<option value="1">할인받음</option>
					</select>
					<select name="select_success" id="select_success">
						<option value="0">성공</option>
						<option value="1">실패</option>
					</select>
		    		<hr />
		    		<button id="btn_ok" class="btn_ok">적립하기</button>
		    	</div>
		    	<br />
		    	<br />
		    	<div class="div_search">
		    		<label>010-</label>
		    		<input type="text" id="input_middle2" name="input_middle2" />
		    		<input type="text" id="input_last2" name="input_last2" />
		    		<button id="btn_search" class="btn_search">검색하기</button>
		    	</div>
		    	<br />
	    		<% if(data.length>0){ %>
	    		<% data.forEach(function(item, index){ %>
	    			<div class="div_sherloc_list">
		    			<h2 class="h2_list_phone"><%= item.middle %>-<%= item.last %>님</h2>
		    			<label class="label_list_date"><%= item.date %></label>
		    			<label class="label_list_theme" style="display: none"><%= item.theme %></label>
		    			<select name="select_list_theme" id="select_list_theme" class="select_list_theme">
		    				<option value="1">웨딩크루즈</option>
		    				<option value="2">스토커</option>
		    				<option value="3">고흐의방</option>
		    				<option value="4">위험한레시피</option>
		    				<option value="5">저주받은집</option>
		    				<option value="6">화이트의죽음</option> 
		    			</select>
		    			<label class="label_list_dc" style="display: none"><%= item.num1 %></label>
		    			<select name="select_list_dc" id="select_list_dc" class="select_list_dc">
		    				<option value="0">할인받지않음</option>
		    				<option value="1">할인받음</option>
		    			</select>
		    			<label class="label_list_success" style="display: none"><%= item.num2 %></label>
		    			<select name="select_list_success" id="select_list_success" class="select_list_success">
		    				<option value="0">성공</option>
		    				<option value="1">실패</option>
		    			</select>
		    			<br/>
		    			<label class="label_list_score"><%= item.num5 %>점</label>
					</div>
	    			<% }); %>
	    		<% } %>
	    	</div>
	    	<div class="div_memo">
	    		<p class="p_memo">인수인계 메모장</p>
	    		<div class="div_memo_sub">
	    			<textarea class="textarea_memo" style="resize: none"></textarea>
	    		</div>
	    		<div class="div_memo_input">
	    			<button class="btn_memo" id="btn_memo">메모수정</button>
	    		</div>
	    	</div>
	    	<div class="div_call">
	    		<p class="p_call">비상연락망</p>
	    		<div class="div_call_sub">
	    			<table border="1" cellspacing="0" style="margin-left: 30px; width:420px">
	    				<tr>
	    					<td class="td_1">사장</td>
	    					<td class="td_2">김광수</td>
	    					<td class="td_3">010-7137-4969</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">매니저</td>
	    					<td class="td_2">한호연</td>
	    					<td class="td_3">010-2234-4948</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">평일오전</td>
	    					<td class="td_2">유승희</td>
	    					<td class="td_3">010-5025-0866</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">평일오후</td>
	    					<td class="td_2">이예지</td>
	    					<td class="td_3">010-2061-5568</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">평일오후</td>
	    					<td class="td_2">김지원</td>
	    					<td class="td_3">010-2252-0680</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">주말오전</td>
	    					<td class="td_2">김윤전</td>
	    					<td class="td_3">010-9522-2329</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">주말오후</td>
	    					<td class="td_2">장소연</td>
	    					<td class="td_3">010-3899-8069</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">주말오후</td>
	    					<td class="td_2">오정현</td>
	    					<td class="td_3">010-6735-4362</td>
	    				</tr>
	    				<tr class="tr_blank">
	    					<td class="td_1"></td>
	    					<td class="td_2"></td>
	    					<td class="td_3"></td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">음료수 주문</td>
	    					<td class="td_2">김문종</td>
	    					<td class="td_3">010-9043-7711</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">에어컨 고장</td>
	    					<td class="td_2">박윤식</td>
	    					<td class="td_3">010-7146-2038</td>
	    				</tr>
	    				<tr>
	    					<td class="td_1">정수기 고장</td>
	    					<td class="td_2">양승엽</td>
	    					<td class="td_3">010-2057-0250</td>
	    				</tr>
	    			</table>
	    		</div>
	    	</div>
	    </div>
        <br />
    </body>
</html>
