<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>가오수 World</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	<body>
		<h1>Edit Page</h1>
		<hr />
		<form method="post">
			<fieldset>
				<legend>Edit DATA</legend>
				<table>
					<tr>
						<td><label>ID</label></td>
						<td><input type="text" name="id" value="<%= data._id %>" disabled /></td>
					</tr>
					<tr>
						<td><label>Name</label></td>
						<td><input type="text" name="name" value="<%= data.name %>"/></td>
					</tr>
					<tr>
						<td><label>TEAM1</label></td>
						<td><input type="number" name="team1" value="<%= data.team1 %>" /></td>
					</tr>
					<tr>
						<td><label>TEAM2</label></td>
						<td><input type="number" name="team2" value="<%= data.team2 %>" /></td>
					</tr>
					<tr>
						<td><label>Order</label></td>
						<td><input type="number" name="ordered" value="<%= data.ordered %>" /></td>
					</tr>
					<tr>
						<td><label>Failed</label></td>
						<td><input type="number" name="failed" value="<%= data.failed %>" /></td>
					</tr>
				</table>
				<input type="submit" />
			</fieldset>
		</form>
	</body>
</html>