<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>가오수 World</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="stylesheet_lobby.css" />
		<script src="prefixfree.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<style type="text/css"> 
			article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary { 
		      display:block; 
			} 
		</style>
		<!-- [if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="./socket.io/socket.io.js"></script>
		<script type="text/javascript" src="jquery.cookie.js"></script>
		<script>
			var socket = undefined;

			$(document).unload(function(){
				if (socket != undefined) socket.disconnect();
			});
			
			$(document).ready(function(){
				socket = io.connect();
				
				var session = $.cookie("session");
				socket.emit('join_lobby', {session: session});
				
				$(window).unload(function(){
					var sess = $.cookie("session");
					socket.emit('disconnect_lobby', {session: sess});
				});
				
				socket.on('lobby_chat_update', function(data){
					if(data.length > 0){
						$('.inner_chat').remove();
						for(var i=0; i<data.length; i++){
							addChat(data[i].name, data[i].str);
						}
					}
				});
				
				socket.on('lobby_player_update', function(data){
					if(data.length > 0){
						$('.inner_player').remove();
						for(var i=0; i<data.length; i++){
							addPlayer(data[i].nickname);
						}
					}
				});
				
				socket.on('lobby_game_player_update', function(data){
					var quoridor_player = data.quoridor;
					$('#server1_1 > .label_serverperson').text('('+quoridor_player.room1+'/2)');
					$('#server1_2 > .label_serverperson').text('('+quoridor_player.room2+'/2)');
					$('#server1_3 > .label_serverperson').text('('+quoridor_player.room3+'/2)');
				});
				
				socket.on('lobby_chat_error', function(){
					alert('잘못된 채팅입니다.');
				});
				
				$('#btn_logout').click(function(){
					location = "/logout";
				});
				
				$('#server1_1').click(function(){
					<% if(data.test==true){ %>
						window.open('http://127.0.0.1:8002/game_quoridor/1', 'quoridor', 'width=960, height=1024, scrollbars=yes', true);
					<% }else{ %>
						window.open('http://kaosu.kr/game_quoridor/1', 'quoridor', 'width=960, height=1024, scrollbars=yes', true);
					<% } %>
				});
				$('#server1_2').click(function(){
					<% if(data.test==true){ %>
						window.open('http://127.0.0.1:8002/game_quoridor/2', 'quoridor', 'width=960, height=1024, scrollbars=yes', true);
					<% }else{ %>
						window.open('http://kaosu.kr/game_quoridor/2', 'quoridor', 'width=960, height=1024, scrollbars=yes', true);
					<% } %>
				});
				$('#server1_3').click(function(){
					<% if(data.test==true){ %>
						window.open('http://127.0.0.1:8002/game_quoridor/3', 'quoridor', 'width=960, height=1024, scrollbars=yes', true);
					<% }else{ %>
						window.open('http://kaosu.kr/game_quoridor/3', 'quoridor', 'width=960, height=1024, scrollbars=yes', true);
					<% } %>
				});
				$('#server2_1').click(function(){
					alert('준비중입니다.');
				});
				$('#server2_2').click(function(){
					alert('준비중입니다.');
				});
				$('#server2_3').click(function(){
					alert('준비중입니다.');
				});
				$('#server3_1').click(function(){
					alert('준비도 안하고 있습니다.');
				});
				$('#server3_2').click(function(){
					alert('준비도 안하고 있습니다.');
				});
				$('#server3_3').click(function(){
					alert('준비도 안하고 있습니다.');
				});
				
				$('.btn_chat').click(function(){
					chat_input();
				});
			});
			
			function chat_input(){
				var str = $('.input_chat').val();
				var session = $.cookie("session");
				if(str.length>0 && session.length>0){
					socket.emit('lobby_chat_add', {
						session: session,
						str: str
					});
				}
				$('.input_chat').val('');
			}
			
			function addChat(name, str){
				var nickname = $('#label_nickname').html();
				var chat = $('<div></div>').addClass('inner_chat');
				var label = $('<label></label>').addClass('label_chat').html(name+' : '+str);
				if(name == nickname){
					label.css({
						fontWeight: 'bold',
						color: '#000000',
						paddingLeft: '5px'
					});
				}else if(name == "관리자"){
					label.css({
						fontWeight: 'bold',
						color: '#ff0000',
						paddingLeft: '5px'
					});
				}else{
					label.css({
						color: '#000000',
						paddingLeft: '5px'
					});
				}
				label.appendTo(chat);
				chat.appendTo($('.div_lobby_chat_message'));
				$('.div_lobby_chat_message').scrollTop($('.div_lobby_chat_message').prop('scrollHeight'));
			}
			
			function addPlayer(nickname){
				var mynickname = $('#label_nickname').html();
				var player = $('<div></div>').addClass('inner_player');
				var label = $('<label></label>').addClass('label_player');
				if(mynickname == nickname){
					if(nickname.length>8) nickname = nickname.substring(0, 8)+'..';
					label.html(nickname+'(나)');
					label.css({
						fontSize: '12px',
						fontWeight: 'bold',
						color: '#ff0000',
						paddingLeft: '5px'
					});
				}else{
					if(nickname.length>8) nickname = nickname.substring(0, 8)+'..';
					label.html(nickname);
					label.css({
						fontSize: '12px',
						color: '#000000',
						paddingLeft: '5px'
					});
				}
				label.appendTo(player);
				player.appendTo($('.div_lobby_chat_person'));
				$('.div_lobby_chat_person').scrollTop($('.div_lobby_chat_person').prop('scrollHeight'));
			}
		</script>
	</head>
	<body>
		<div class="container">
			<img id="img_title" src="title.png"/>
			<div class="div_member">
				<div class="div_label">
					<label id="label_nickname" class="label_member"><%= data.nickname %></label>
					<label class="label_member">님 환영합니다.</label>
				</div>
				<button id="btn_logout">로그아웃</button>
			</div>
			<div class="div_game">
				<div class="div_gamedetail">
					<img src="game1.png"/>
					<div class="div_server">
						<div id="server1_1" class="div_servergo">
							<label class="label_servername">서버1</label>
							<label class="label_serverperson">(<%= data.qNum1 %>/2)</label>
						</div>
						<div id="server1_2" class="div_servergo">
							<label class="label_servername">서버2</label>
							<label class="label_serverperson">(<%= data.qNum2 %>/2)</label>
						</div>
						<div id="server1_3" class="div_servergo">
							<label class="label_servername">서버3</label>
							<label class="label_serverperson">(<%= data.qNum3 %>/2)</label>
						</div>
					</div>
					<div class="div_gameinfo">
						<label class="label_gameinfo">서로 방해하며 먼저 미로를 빠져나가라!</label>
					</div>
				</div>
				<div class="div_gamedetail">
					<img src="game2.png"/>
					<div class="div_server">
						<div id="server2_1" class="div_servergo">
							<label class="label_servername">서버1</label>
							<label class="label_serverperson">(0/1)</label>
						</div>
						<div id="server2_2" class="div_servergo">
							<label class="label_servername">서버2</label>
							<label class="label_serverperson">(0/1)</label>
						</div>
						<div id="server2_3" class="div_servergo">
							<label class="label_servername">서버3</label>
							<label class="label_serverperson">(0/1)</label>
						</div>
					</div>
					<div class="div_gameinfo">
						<label class="label_gameinfo">미소녀가 펼치는 아슬아슬 캐주얼 골프!</label>
					</div>
				</div>
				<div class="div_gamedetail">
					<img src="game3.png"/>
					<div class="div_server">
						<div id="server3_1" class="div_servergo">
							<label class="label_servername">서버1</label>
							<label class="label_serverperson">(0/2)</label>
						</div>
						<div id="server3_2" class="div_servergo">
							<label class="label_servername">서버2</label>
							<label class="label_serverperson">(0/2)</label>
						</div>
						<div id="server3_3" class="div_servergo">
							<label class="label_servername">서버3</label>
							<label class="label_serverperson">(0/2)</label>
						</div>
					</div>
					<div class="div_gameinfo">
						<label class="label_gameinfo">전설의 영웅들이 펼치는 마지막 TCG!</label>
					</div>
				</div>
				<div class="div_lobby_chat">
					<div class="div_lobby_chat_body">
						<div class="div_lobby_chat_message" style="overflow:auto">
						</div>
						<div class="div_lobby_chat_person" style="overflow:auto">
						</div>
					</div>
					<div class="div_lobby_chat_input">
						<input class="input_chat" onkeydown="javascript:if (event.keyCode == 13) chat_input()"/>
						<button class="btn_chat">입력</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>