* {
	margin: 0; padding: 0;
}

html {
	background: #faf8ef;
}

html, body {
	margin: 0;
	padding: 0;
	color: #776e65;
	font-family: Arial;
	font-size: 18px;
}

body {
	margin-top: 20px;
	position: relative;
}

#cube{
	position: relative;
	width: 500px;
	height: 500px;
}

#cube_container {
	position: absolute;
	float: left;
	width: 300px;
	height: 300px;
	z-index: -2;
	transform-origin: center;
	animation: cube 15s linear 0s infinite;
	transform-style: preserve-3d;
}

#cube_container > div {
	width: 300px;
	height: 300px;
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.1;
}

#cube_container > div:nth-child(1) {
	transform: rotateY(0deg) translate3d(0px, 0px, 150px);
	background: red;
}

#cube_container > div:nth-child(2) {
	transform: rotateY(90deg) translate3d(0px, 0px, 150px);
	background: green;
}

#cube_container > div:nth-child(3) {
	transform: rotateY(180deg) translate3d(0px, 0px, 150px);
	background: blue;
}

#cube_container > div:nth-child(4) {
	transform: rotateY(270deg) translate3d(0px, 0px, 150px);
	background: yellow;
}

#cube_container > div:nth-child(5) {
	transform: rotateX(90deg) translate3d(0px, 0px, 150px);
	background: brown;
}

#cube_container > div:nth-child(6) {
	transform: rotateX(270deg) translate3d(0px, 0px, 150px);
	background: pink;
}


@keyframes cube {
	from{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}

.heading {
	position: absolute;
	top : 180px;
	width: 100%;
}

.heading:after {
  content: "";
  display: block;
  clear: both;
}

h1.title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  display: block;
  width:100%;
  text-align: center; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }
  
p.game-intro {
	position: absolute;
	top : 220px;
	font-weight: bold;
  	display: block;
  	width:100%;
  	text-align: center;
	margin: 0;
}

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 500px;
  height: 100%;
  margin: 0 auto; }

h2 {
	margin: 10px;
	width: 100%;
	height: 35px;
	text-align: center;
	border: 10px solid #B97A57;
	border-radius: 20px;
	background-color: #B97A57;
	cursor: pointer;
	color: #000000;
}

#form_container{
	width: 500px;
	position: relative;
}

#form_container label {
	margin-left: 10px;
}

#emailinput, #pwinput, #pwinput2, #nickinput {
	margin-left: 30px;
	width: 300px;
}

#clock{
	position: absolute;
	top : 280px;
  	font-weight: bold;
  	display: block;
  	width:100%;
  	text-align: center;
	font-size: 1.2em;
	margin: 0;
}
