* {
	margin: 0; padding: 0;
}

html {
	background: #faf8ef;
}

html, body {
	margin: 0;
	padding: 0;
	color: #776e65;
	font-family: Arial;
	font-size: 18px;
}

body {
	margin-top: 20px;
	position: relative;
}

#cube{
	position: relative;
	width: 500px;
	height: 500px;
}

#cube_container {
	position: absolute;
	float: left;
	width: 300px;
	height: 300px;
	z-index: -2;
	transform-origin: center;
	animation: cube 15s linear 0s infinite;
	transform-style: preserve-3d;
}

#cube_container > div {
	width: 300px;
	height: 300px;
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.1;
}

#cube_container > div:nth-child(1) {
	transform: rotateY(0deg) translate3d(0px, 0px, 150px);
	background: red;
}

#cube_container > div:nth-child(2) {
	transform: rotateY(90deg) translate3d(0px, 0px, 150px);
	background: green;
}

#cube_container > div:nth-child(3) {
	transform: rotateY(180deg) translate3d(0px, 0px, 150px);
	background: blue;
}

#cube_container > div:nth-child(4) {
	transform: rotateY(270deg) translate3d(0px, 0px, 150px);
	background: yellow;
}

#cube_container > div:nth-child(5) {
	transform: rotateX(90deg) translate3d(0px, 0px, 150px);
	background: brown;
}

#cube_container > div:nth-child(6) {
	transform: rotateX(270deg) translate3d(0px, 0px, 150px);
	background: pink;
}


@keyframes cube {
	from{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}

.heading {
	position: absolute;
	top : 180px;
	width: 100%;
}

.heading:after {
  content: "";
  display: block;
  clear: both;
}

h1.title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  display: block;
  width:100%;
  text-align: center; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }
  
p.game-intro {
	position: absolute;
	top : 220px;
	font-weight: bold;
  	display: block;
  	width:100%;
  	text-align: center;
	margin: 0;
}

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 500px;
  height: 100%;
  margin: 0 auto; }

h2 {
	margin: 10px;
	width: 100%;
	height: 35px;
	text-align: center;
	border: 10px solid #B97A57;
	border-radius: 20px;
	background-color: #B97A57;
	cursor: pointer;
	color: #000000;
}

#button_container{
	margin-bottom: 20px;
	width: 500px;
	height: 190px;
	position: relative;
	overflow: hidden;
}

#button_container > div{
	position: absolute;
	text-align: center;
	border: 10px solid #B97A57;
	border-radius: 20px;
	background-color: #B97A57;
	cursor: pointer;
	color: black;
	font-size: 28px;
	font-weight: bold;
	line-height: 35px;
}

#upload{
	left:0px;
	top: 0px;
	width: 480px;
	height: 35px;
}

#testgame{
	left: 0px;
	top: 65px;
	width: 220px;
	height: 35px;
}

#memorycard{
	width: 220px;
	height: 35px;
	left: 260px;
	top: 65px;
}

#quoridor{
	width: 220px;
	height: 35px;
	left: 0px;
	top: 130px;
}

#racer{
	width: 220px;
	height: 35px;
	left: 260px;
	top: 130px;
}

#clock{
	position: absolute;
	top : 280px;
  	font-weight: bold;
  	display: block;
  	width:100%;
  	text-align: center;
	font-size: 1.2em;
	margin: 0;
}

#button_container > div:hover{
	border-color: #633E29;
	background-color: #633E29;
}

#pudding {
	position: relative;
	margin-left: 5%;
	margin-top: 5%;
	
	width: 360px;
	height: 320px;
	
	overflow: hidden;
}

#dog {
	position: absolute;
	float: left;
}

#pudding > #dog:nth-child(1) {
	width: 216px; height: 216px;
	border: 8px solid #633E29;
	border-bottom-style: none;
	margin-left: 66px;
	margin-top: 16px;
	background-color: #B97A57;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(2) {
	width: 116px; height: 144px;
	border: 8px solid #633E29;
	border-right-style: none;
	border-top-style: none;
	margin-left: 32px;
	margin-top: 76px;
	background-color: #B97A57;
	transform: rotate(23deg);
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(3) {
	width: 116px; height: 144px;
	border: 8px solid #633E29;
	border-left-style: none;
	border-top-style: none;
	margin-left: 208px;
	margin-top: 76px;
	background-color: #B97A57;
	transform: rotate(-23deg);
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(4) {
	width: 144px; height: 100px;
	border: 8px solid #633E29;
	border-top-style: none;
	margin-left: 100px;
	margin-top: 136px;
	background-color: #B97A57;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(5) {
	width: 20px; height: 20px;
	border: none solid #633E29;
	margin-left: 126px;
	margin-top: 120px;
	background-color: black;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(6) {
	width: 20px; height: 20px;
	border: none solid #633E29;
	margin-left: 210px;
	margin-top: 120px;
	background-color: black;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(7) {
	width: 12px; height: 18px;
	border: 4px solid #633E29;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 90px;
	margin-top: 144px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(8) {
	width: 12px; height: 18px;
	border: 4px solid #633E29;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	margin-left: 254px;
	margin-top: 144px;
	transition-duration: 1s;
	transition-timing-function: ease;
}


#pudding > #dog:nth-child(9) {
	width: 4px; height: 16px;
	border: none solid #633E29;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
	margin-left: 180px;
	margin-top: 196px;
	background-color: black;
	transition-duration: 1s;
	transition-timing-function: ease;
}


#pudding > #dog:nth-child(10) {
	width: 32px; height: 12px;
	border: 8px solid black;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	margin-left: 166px;
	margin-top: 196px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(11) {
	width: 28px; height: 28px;
	border: none solid #633E29;
	margin-left: 168px;
	margin-top: 168px;
	background-color: black;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(12) {
	width: 0px; height: 52px;
	border: 8px solid #633E29;
	margin-left: 12px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(13) {
	width: 20px; height: 16px;
	border: 16px solid #633E29;
	margin-left: 12px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(14) {
	width: 20px; height: 52px;
	border: 16px solid #633E29;
	border-top-style: none;
	margin-left: 66px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(15) {
	width: 20px; height: 36px;
	border: 16px solid #633E29;
	margin-left: 120px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(16) {
	width: 20px; height: 36px;
	border: 16px solid #633E29;
	margin-left: 174px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(17) {
	width: 0px; height: 52px;
	border: 8px solid #633E29;
	margin-left: 228px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(18) {
	width: 20px; height: 52px;
	border: 16px solid #633E29;
	border-bottom-style: none;
	margin-left: 246px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(19) {
	width: 32px; height: 36px;
	border: 16px solid #633E29;
	border-right-style: none;
	margin-left: 300px;
	margin-top: 250px;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#pudding > #dog:nth-child(20) {
	width: 8px; height: 24px;
	border: 16px solid #633E29;
	border-left-style: none;
	border-bottom-style: none;
	margin-left: 324px;
	margin-top: 278px;
	transition-duration: 1s;
	transition-timing-function: ease;
}




#pudding:hover > #dog:nth-child(1){
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(2){
	margin-left: 20px;
	margin-top: 76px;
	transform: rotate(20deg);
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(3){
	margin-left: 220px;
	margin-top: 76px;
	transform: rotate(-20deg);
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(4){
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(5){
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(6){
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(7){
	margin-left: 104px;
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(8){
	margin-left: 238px;
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(10){
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(11){
	border-top-left-radius: 40%;
	border-top-right-radius: 40%;
	border-bottom-left-radius: 70%;
	border-bottom-right-radius: 70%;
}

#pudding:hover > #dog:nth-child(12){
	height: 36px;
	margin-top: 266px;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

#pudding:hover > #dog:nth-child(13){
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

#pudding:hover > #dog:nth-child(14){
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(15){
	border-top-left-radius: 20%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 50%;
}

#pudding:hover > #dog:nth-child(16){
	border-top-left-radius: 20%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 50%;
}

#pudding:hover > #dog:nth-child(17){
	border-radius: 40%;
}

#pudding:hover > #dog:nth-child(18){
	border-radius: 50%;
}

#pudding:hover > #dog:nth-child(19){
	border-radius: 50%;
	border-bottom-right-radius: 30%;
}

#pudding:hover > #dog:nth-child(20){
	border-radius: 50%;
}

